* {
    box-sizing: border-box
}

body {
    margin: 0;
    font-family: "Avenir", "Helvetica", "Arial", sans-serif;
    background-color: rgb(244, 244, 244);
}

.wrapper {
    display: grid;
    grid-template-columns: 35% 65%;
}

.left-col {
    background-image: url("./disney.jpg");
    position: left;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
}

.right-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
}

.overlay {
    margin-top: 8vh;
    background-color:rgba(80, 80, 80, 0.2);
}

.overlay img {
    width: 100%;
    padding: 1rem;
}

.img-credit {
    color: white;
    position: absolute;
    bottom: 20;
    width: 100%;
    font-size: 0.8rem;
}

.img-credit > a {
    color: rgb(255, 255, 255);
}

.img-credit > a:visited {
    color: rgb(213, 125, 211);
}

.container {
    display: grid;
    height: 100vh;
}

p {
    font-size: 1.2rem;
}

.form-container {
    background-color: white;
    margin-left: calc(-32.5vw + 50%);
    margin-right: calc(-32.5vw + 50%);
    padding: 0.4rem 2rem 1rem 3rem;
    -webkit-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.18); 
    box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.18);
}

.form-container > p {
    font-weight: bold;
}

.form-submit {
    padding-top: 2rem;
}

.form-submit > button {
    background-color: #058fc2;
    color: white;
    border-style: none;
    padding: 0.7rem 2rem;
    border-radius: 0.7rem;
    -webkit-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.18); 
    box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.18);
    transition: 200ms;
}

.form-submit > button:hover {
    background-color: #00678d;
}

.form-submit > p {
    font-size: 1rem;
}

.intro > p:nth-child(2) {
    padding-bottom: 1rem;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50vw;
}

label, #password-mismatch, #message p {
    font-size: 0.8rem;
}

.input {
    width: 90%;
    height: 1.5rem;
    border: solid grey 0.8px;
}

.input:focus {
    -webkit-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.18); 
    box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.18);
}

.input-wrapper {
    padding-bottom: 1rem;
}

#message {
    display: none;
    grid-column: span 2;
}

#message p {
    line-height: 0.3rem;
}

#message p:first-child {
    font-weight: bold;
}

.valid {
    color: green;
}
  
.valid:before {
    position: relative;
    content: "✓ ";
}
  
.invalid, #password-mismatch {
    color: red;
}

#password-match {
    color: green;
}
  
.invalid:before {
    position: relative;
    content: "✖️ ";
}

.password-mismatch, .password-empty {
    border: solid red 1px;
}

.password-match {
    border: solid green 1px;
}