* {
    box-sizing: border-box
}

body {
    margin: 2em;
}

.wrapper {
    display: grid;
    grid-template-columns: 35% 65%;
}

.left-col {
    background-image: url("./disney.jpg");
    position: left;
    background-size: cover;
    background-repeat: no-repeat;
}

.right-col {
    background-color: lightgray;
}

.container {
    display: grid;
    height: 100vh;
}